.nav-user-img{
    width: 40px;
    height: 43px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -5px;
    border-radius: 50%;
}
Link:link {
    text-decoration: none;
  }
  
  Link:visited {
    text-decoration: none;
  }
  
  Link:hover {
    text-decoration: none;
  }
  
  Link:active {
    text-decoration: none;
  }

Link{
    font-style: italic;
}